

body{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  margin:auto;
  border:groove grey;
  border-width:7px;
  background-color:lightcyan;
  color:brown;
  padding:15px;
  }

 }
  #grid-floats :nth-child(1){width:170px;
                        height:100px;
                       }
               .grid-item{
              height: 50px;
              width:60px;
             margin-left: 4px;
             margin-right:8px;
              background-color:rgba(255, 0, 64, 0.411);
                                              }
#grid-flex :nth-child(1){width:40%;
                        height:200px;
                     }
                      }
