
body{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  margin:auto;
  border:groove grey;
  border-width:7px;
  background-color:lightcyan;
  color:brown;
  padding:15px;
  }

h1,h2{
   text-decoration: none;
   font-size: 2.5em;
   clear:both;
   }

h3 {
 text-align:center;
 font-size: 19px;
 }
p {font-size: 18px;
 }   

img{width: 80%;}

#grid-floats {
              display: grid;
              
             }

#grid-floats .grid-item {
  
                      text-align: center;
                      width:21%;
                      height: 550px;
                      margin-right:2px;
                      margin-left: 2px;
                      margin-bottom: 2%;
                      float: left;  
                     }

#grid-floats :nth-child(1){width:45%;}

li{
 list-style-type: none;
 text-align:center;
 border:8px solid rgb(174, 214, 241);
 border-radius:50px;
 overflow: auto;
 padding:7px;
}

#grid-flex{
         display: flex;
         flex-flow:row wrap; 
         /* justify-content: space-around;   */
        }

#grid-flex .grid-item{
                      width:21%;
                      text-align: center;
                      height: 550px;
                      margin-left: 2px;
                      margin-bottom: 2%;
                      margin-bottom: 2%;
                      
                   }

#grid-flex :nth-child(1) {
                          width: 45%;
                          }

 /* Tablet screen */
@media (max-width:900px){
  body{
    
    padding:8px;
    }
  
  h1,h2{
     text-decoration: none;
     font-size: 1.5em;
     clear:both;
     }
  
  h3 {
   text-align:center;
   font-size: 12px;
   }
  p {font-size: 10px;
   }   
  
  img{width: 40%;
  height: 40%}
      
#grid-floats {
  display: grid;
  
 }
              #grid-floats :nth-child(n+1):nth-child(-n+2){width:40%;
                                    height:200px;
                                   }
                           .grid-item{
                          height: 40px;
                          width:55%;
                         margin:2px;
                          background-color:rgba(255, 208, 0, 0.973);
                                                          }
#grid-flex :nth-child(n+1):nth-child(-n+2){width:40%;
                                    height:200px;
                                 }
                                }

/* Mobile screen */
@media (max-width:400px){
  body{
    padding:10px;
    }
  
  h1,h2{
     text-decoration: none;
     font-size: 1.5em;
     clear:both;
     }
  
  h3 {
   text-align:center;
   font-size: 11px;
   }
  p {font-size: 8px;
   }   
   img{width: 40%;
    height: 40%}
    
#grid-floats {
  display: grid;
 }
  #grid-floats :nth-child(1){width:170px;
                        height:100px;
                       }
               .grid-item{
              height: 50px;
              width:60px;
             margin-left: 4px;
             margin-right:8px;
              background-color:rgba(255, 0, 64, 0.411);
                                              }
#grid-flex :nth-child(1){width:40%;
                        height:200px;
                     }
                      }
